.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.bicicletas-lista ul {
  display: flex;
  gap: 4px;
  padding: 0 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}
.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  height: 8px;
  display: inline-block;
  margin-right: 8px;
  background-color: var(--cor-p1);
  width: 12px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}
